html {
	margin: 0;
	padding: 0;
	max-width: 100% !important;
	overflow-x: hidden !important;
	-webkit-overflow-x: hidden !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scrollbar-width: none;
}

canvas {
	display: block;
}

body {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
	overflow-y: hidden;
	max-width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-weight: 300;
	font-size: 2em;

	/*드래그 방지*/
	-webkit-user-select: none !important;
	-moz-user-select: -moz-none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.not_scroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#SkyBG {
	position: relative;
	margin: 0;
	padding: 0;
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg,
			rgb(4, 8, 74) 0%,
			rgb(64, 62, 179) 100%);
	width: 100vw;
	height: 80vh;
	z-index: -100;
}

#StarSpecFG {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: URL("/Image/animatedStars.png");
	background-repeat: repeat;
	width: 100vw;
	height: 100vh;
}

#StarMainFG {
	position: absolute;
	left: 50%;
	top: calc(var(--vh, 1vh) * 43);
	top: 43vh;
	transform: translate(-50%, -50%);
	width: 100VW;
	max-width: 2500px;
	min-height: 100px;
	z-index: -1;
}

#SkyLine {
	position: absolute;
	width: 100%;
	top: 40vh;
	background-size: 100%;
	z-index: 1;
}

#BGAfterBackground {
	position: absolute;
	top: 80vh;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(180deg,
		rgba(105, 187, 249, 1) 30%,
		rgba(105, 187, 249, 0) 100%
	);
	z-index: 0;
}

#Logo3D {
	position: absolute;
	top: 25vh;
	left: 50%;
	width: 50%;
	min-height: 50px;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#LogoDeco {
	position: absolute;
	top: 35vh;
	left: 50%;
	width: 70%;
	min-height: 100px;
	transform: translate(-50%, -50%);
}

.CloudLine {
	position: relative;
	transform: translateY(-10vh);
	width: 100%;
	z-index: 2;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

p {
	font-family: 'Pretendard Variable';
	font-size: 0.5em;
	font-weight: 400;
	font-style: normal;
}

#FlatSkyBG {
	position: relative;
	top:0vw;
	height: 150vh;
	min-height: 1100px;
	width: 100%;
	background-color: rgb(105, 187, 249);
	z-index: -1;
}

#FlatSkyCloud {
	position: relative;
	background-image: url("/Image/Cloud.png");
	width: 100%;
	height: 145vh;
	background-size: 100%;
	background-repeat: repeat round;
}

#FloorWall {
	position: relative;
	z-index: 2;
	top: -1px;
	width: 100%;
	height: 650px;
	background-image: url("/Image/FloorWallClear.jpg");
	background-repeat: repeat;
}

#FloorWallProgress {
	position: absolute;
	background-image: url("/Image/FloorWallProgress.jpg");
	width: 890px;
	left: 50%;
	transform: translateX(-50%);
	height: 650px;
}

/*--------------------------------------*/
/*------Chars---------------------------*/
/*--------------------------------------*/

#ShuPaint {
	position: relative;
	width: 15%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
}

#ShuWrite {
	position: relative;
	background-image: url("/Image/AnimatedShu/shuWrite.png");
	width: 100px;
	height: 200px;
	background-size: 50%;
}

#ShuRun {
	position: relative;
	background-image: url("/Image/AnimatedShu/shuRun.png");
	width: 100px;
	height: 200px;
	background-size: 50%;
}

#ShuSmile {
	position: relative;
	background-image: url("/Image/AnimatedShu/shuSmile.png");
	width: 100px;
	height: 200px;
	background-size: 50%;
}

#ShuSketch {
	position: relative;
	background-image: url("/Image/AnimatedShu/shuSketch.png");
	width: 100px;
	height: 200px;
	background-size: 50%;
}



/* 구획 */
#Section {
	position: relative;
	width: 100%;
	/* border: red solid 3px; */
}

/*---------------------------------------------------*/
/*---gsap-------------------------------*/
/*---------------------------------------------------*/

#StructureContainer {
	position: relative;
	width: 100vw;
	height: 300vh;
	/* border:red solid 3px; */
	margin: 0;
	z-index: 12;
}

#Structure_1 {
	position: absolute;
	top: 0px;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	background-image: url("/Image/House_1.jpg");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}

#Structure_2 {
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("/Image/House_2.jpg");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}

#Structure_3 {
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("/Image/House_3.jpg");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}