@media all and (max-width:480px) {
    #StarSpecFG {
        background-size: 180%;
    }

    #StarMainFG {
        transform-origin: 0% 0%;
        rotate: 30deg;
        top: 25vh;
        transform: translate(-50%, -50%);
        width: 180%;
        z-index: 1;
    }

    #LogoDeco {
        top: 27vh;
        width: 80%;
        z-index: 1;
    }

    #BGAfterBackground {
        top: 85vh;
        height: 200vw;
    }

    #SkyLine {
        top: 35vh;
    }

    #FlatSkyCloud {
        height: 140vh;
            min-height: 1050px;
    }

    #FloorWall {
        background-size: 0%;
        height: 300px;
        
    }

    #FloorWallProgress {
        background-size: 100%;
        width: 100vw;
        height: 300px;
        background-repeat: no-repeat;
    }

    #ShuPaint {
        position: relative;
        background-image: url("/Image/AnimatedShu/shuPaint.png");
        top: 100px;
        width: 320px;
        height: 500px;
        background-size: 25%;
        background-repeat: no-repeat;
        transform: translateX(-25px);
    }
}

@media all and (min-width:481px) and (max-width:767px) {
    html {
        cursor: auto;
    }

    #StarSpecFG {
        background-size: 120%;
    }

    #StarMainFG {
        transform-origin: 0% 0%;
        rotate: 30deg;
        top: 25vh;
        transform: translate(-50%, -50%);
        width: 180%;
        z-index:-1;
    }

    #Logo3D {
        top: 35vh;
    }

    #LogoDeco {
        top: 33vh;
        width: 90%;
        z-index: 1;
    }

    #BGAfterBackground {
        height: 150vw;
    }   

    #FlatSkyCloud {
        height: 140vh;
        min-height: 1050px;
        background-size: 50%;
    }
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@media all and (min-width: 768px){
    #StarSpecFG {
        background-size: 100%;
    }

    #StarMainFG {
        transform-origin: 0% 0%;
        rotate: 30deg;
        top: 33vh;
        top: calc(var(--vh, 1vh) * 30);
        transform: translate(-50%, -50%);
        width: 120%;
        z-index: 1;
    }

    #Logo3D {
        top: 33vh;
        top: calc(var(--vh, 1vh) * 30);
        width: 45%;
        max-width: 500px;
    }

    #LogoDeco {
        top: 30vh;
        width: 70%;
        max-width: 800px;
        z-index: 1;
    }

    #BGAfterBackground {
        height: 250vw;
    }    

    #FlatSkyCloud {
        height: 140vh;
        min-height: 1250px;
        background-size: 50%;
    }

    #FlatSkyBG {
        height: 140vh;
        min-height: 1300px;
    }
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@media screen and (min-height:1500px) {
    #BGAfterBackground {
        height: 250vw;
    }
}