@media all and (max-width:470px) {
    * {
        left: 50000px;
    }
}

@media all and (min-width:471px) and (max-width:767px) {
    html {
        cursor: auto;
    }
    
    #SkyBG {
        height: 65vh;
    }

    #StarMainFG {
        transform-origin: 0% 0%;
        rotate: 60deg;
        top: 30vh;
        transform: translate(-50%, -50%);
        width: 230%;
        z-index: 1;
    }

    #Logo3D {
        width: 55%;
        top: 28vh;
        transform: translate(-50%, -50%);
    }

    #LogoDeco {
        top: 30vh;
        left: 50%;
        width: 90% !important;
        min-height: 50px;
        transform: translate(-50%, -50%);
    }

    #StarSpecFG {
        position: absolute;
        background-size: 80%;
    }

    #SkyLine {
        top: 50vh !important;
        width: 120%;
        transform: translateX(-10%);
        z-index: 1;
    }

    #FlatSkyBG {
        min-height: 1500px;
    }

    #FlatSkyCloud {
        min-height: 1500px;
        background-size: 100%;
    }
    
    .BigTitleBox {
        font-size: 35px;
        width: 60%;
    }

    #Band {
        height: 60px;
    }
}

@media all and (min-width: 768px) and (max-width:1320px){
    #StarMainFG {
        transform-origin: 0% 0%;
        rotate: 50deg;
        top: 30vh;
        transform: translate(-50%, -50%);
        width: 230%;
        z-index: 1;
    }

    #SkyBG {
        height: 90vh;
    }

    #FlatSkyBG {
        min-height: 1500px;
    }

    #FlatSkyCloud {
        min-height: 1500px;
        background-size: 50%;
    }

    #SkyLine {
        top: 50vh;
        z-index: 1;
    }

    #Logo3D {
        width: 35%;
        top: 35vh;
    }

    #LogoDeco{
        width: 70%;
        transform: translate(-53%, -50%);
        top: 35vh;
        
    } 

    .BigTitleBox {
        font-size: 41px;
        width: 60%;
    }

    #Band {
        height: 80px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media all and (min-width: 1321px) and (max-width:1920px) {
    #SkyBG {
        min-height: 1500px;
    }
    
    #FlatSkyBG {
        padding-top: 120vh;
        min-height: 2000px;
    }

    #FlatSkyCloud {
        min-height: 2000px;
        background-size: 50%;
    }

    #Logo3D {
        width: 37%;
        top: 42vh;
    }

    #LogoDeco {
        width: 80%;
        transform: translate(-53%, -50%);
    }

    .BigTitleBox {
        font-size: 65px;
        width: 60%;
    }

    #Band {
        height: 100px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media all and (min-width:1921px) {
    html {
        cursor: auto;
    }

    #SkyBG{
        height: 120vh;
        min-height: 2000px;
    }

    #Logo3D {
        transform: translate(-50%, -50%);
        top: 45vh;
        width: 35vw;
        width: 700px;
    }

    #LogoDeco {
        top: 45vh;
        width: 70%;
        transform: translate(-53%, -50%);
        max-width: 2000px;
    }

    #SkyLine {
        width: 100%;
        background-size: 100%;
    }

    #StarSpecFG {
        height: 100vh;
        background-size: 30%;
    }

    #StarMainFG {
        top: 50vh;
    }

    #FlatSkyBG {
        min-height: 3300px;
    }

    #FlatSkyCloud {
        min-height: 3100px;
        background-size: 25%;
    }

    .BigTitleBox {
        font-size: 4vw;
        width: 60%;
    }

    #Band {
        height: 130px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@media screen and (min-height:1200px) and (max-height:1599px) {
    #SkyBG {
        height: 80vh;
    }

    #SkyLine {
        top: 42vh;
    }

    #Logo3D {
        top: 42vh;
    }

    #LogoDeco {
        width: 60%;
        top: 43vh;
    }

    #StarMainFG{
        top: 43vh;
    }


    #FlatSkyBG {
    }

    #FlatSkyCloud {
        background-size: 50%;
    }
}


@media screen and (min-height:1600px) {
    #StarMainFG{
        top: 28vh;
        width: 250vw;
    }

    #Logo3D {
        max-width: 1000px;
        top: 30vh;
        width: 50%;
    }

    #LogoDeco {
        position: absolute;
        max-width: 1600px;
        top:35vh;
        width: 90%;
        transform: translate(-50%, -50%);
    }

    #SkyBG {
        height: 70vh;
    }

    #StarSpecFG {
        position: absolute;
        background-size: 40%;
    }

    #SkyLine {
        top: 40vh;
        width: 120%;
        transform: translateX(-10%);
        z-index: 1;
    }

    #FlatSkyBG {
    }

    #FlatSkyCloud {
        background-size: 50%;
    }
}
