@media all and (max-width:470px) {
    * {
        left: 50000px;
    }
}

@media all and (max-width:767px) {
    html {
        cursor: auto;
    }

    #StarMainFG {
        transform-origin: 0% 0%;
        rotate: 60deg;
        top: 30vh;
        transform: translate(-50%, -50%);
        width: 230%;
        z-index: 1;
    }

    #Logo3D {
        width: 45%;
        top: 25vh;
        transform: translate(-50%, -50%);
    }

    #LogoDeco {
        position: absolute;
        top: 28vh;
        left: 50%;
        width: 80%;
        min-height: 50px;
        transform: translate(-50%, -50%);
    }

    #SkyBG{
        min-height: 700px;
    }

    #StarSpecFG {
        position: absolute;
        background-size: 80%;
    }

    #SkyLine {
        top: 40vh;
        width: 120%;
        transform: translateX(-10%);
        z-index: 1;
    }

    .BGAfterBackground {
        top: -50vw;
        width: 100%;
        height: 250vw;
    }

    .CloudLineContainer {
        top: -20vh;
        position: relative;
        z-index: 2;
    }

    #FlatSkyBG {
        height: 1630vh;
        max-height: 6300px;
    }

    #FlatSkyCloud {
        background-size: 100%;
        height: 1610vh;
        max-height: 6200px;
    }
    
}

@media all and (min-width: 768) and (max-width:1320px){
    #FlatSkyBG {
        height: 310vh;
        min-height: 2800px;
    }

    #FlatSkyCloud {
        height: 290vh;
        min-height: 2600px;
    }


}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media all and (min-width: 1320px) and (max-width:1920px) {
    #FlatSkyBG {
        height: 260vh;
        min-height: 2500px;
    }

    #FlatSkyCloud {
        height: 250vh;
        min-height: 2300px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media all and (min-width:1921px) {
    html {
        cursor: auto;
    }

    #Logo3D {
        transform: translate(-50%, -50%);
        width: 25%;
    }

    #LogoDeco {
        width: 50%;
        transform: translate(-50%, -50%);
    }

    #SkyLine {
        width: 100%;
        background-size: 100%;
    }

    #StarSpecFG {
        height: 100vh;
        background-size: 30%;
    }

    .BGAfterBackground {
        top: -50vw;
        width: 100%;
        height: 150vw;
    }

    #FlatSkyBG {
        transform: translateY(-1000px);
        height: 350vh;
        /* min-height: 2800px; */
    }

    #FlatSkyCloud {
        /* background-size: 150%; */
        height: 340vh;
        /* min-height: 2500px; */
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@media screen and (min-height:1500px) {
    .CloudLineContainer {
        top: -30vh;
    }

    #StarMainFG{
        top: 40vh;
        width: 100vw;
    }

    #Logo3D {
        max-width: 1000px;
        top: 40%;
        width: 50%;
        transform: translate(-50%, -50%);
    }

    #LogoDeco {
        position: absolute;
        max-width: 1600px;
        top:45%;
        left: 50%;
        width: 80%;
        min-height: 50px;
        transform: translate(-50%, -50%);
    }

    #SkyBG {
        min-height: 700px;
    }

    #StarSpecFG {
        position: absolute;
        background-size: 40%;
    }

    #SkyLine {
        top: 40vh;
        width: 120%;
        transform: translateX(-10%);
        z-index: 1;
    }

    .BGAfterBackground {
        top: -50vw;
        width: 100%;
        height: 250vw;
    }

    #FlatSkyBG {
        height: 630vh;
        max-height: 5300px;
    }

    #FlatSkyCloud {
        background-size: 100%;
        height: 610vh;
        max-height: 5200px;
    }
}
