* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  /* margin: 0 !important; */
}

::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

html {
  cursor: none !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
  -webkit-overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  scrollbar-width: none;
}

canvas {
  display: block;
}

body {
  position: relative;
  overflow-x: hidden !important;
  max-width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-weight: 300;
  font-size: 2em;

  /*드래그 방지*/
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#luxy{
  -ms-overflow-style: none;
  margin: 0px;
  margin-top: -25px;
  padding: 0px;
  width : 100%;
}

#p5canvas_mouse{
  pointer-events: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#SpaceContainer{
  position: relative;
  display: block;
  height: both;
  margin: 0px;
  padding: 0px;
}

#SkyBG{
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg, 
    rgb(17, 19, 64) 0%, 
    rgba(23, 31, 78, 1) 40%,
    rgba(26, 78, 118, 1) 100%
  );
  width: 100%;
  min-height: 600px;
}

#StarSpecFG{
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: URL("/Image/animatedStars.png");
  background-repeat: repeat;
  background-size: 40%;
  width: 100%;
  height: 130vh;
  z-index: 0;
}

#StarMainFG {
  position: absolute;
  transform-origin: 0 0;
  rotate: 15deg;
  left: 50%;
  top: 40vh;
  transform: translate(-50%, -58%);
  width: 150%;
  max-width: 2500px;
  min-height: 100px;
  z-index: 1;
}

#SkyLine {
  position: absolute;
  top: 50vh;
  width: 100%;
  min-width: 300px;
  background-size: 100%;
}

#CloudLineContainer {
  position: absolute;
  top: 100vh;
  width: 100vw;
  z-index: 31;
}

#CloudLine {
  position: relative;
  width: 100%;
  z-index: 2;
}

#BGAfterBackground {
  position: relative;
  width: 100vw;
  height: 270vh;
  max-height: 2000px;
  transform: translateY(-50vw);
  background: linear-gradient(180deg,
    rgba(105, 187, 249, 1) 0%,
    rgba(105, 187, 249, 1) 40%,
    rgba(105, 187, 249, 0) 100%
  );
}

#Logo3D {
  position: absolute;
  left: 50%;
  top: 33vh;
  width: 50%;
  min-height: 50px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#LogoDeco {
  position: absolute;
  top: 38vh;
  left: 51.5%;
  width: 80%;
  min-height: 50px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#FlatSkyBG {
  position: relative;
  padding-top: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: rgb(105, 187, 249);
  z-index: -2;
}

#FlatSkyCloud {
  position: relative;
  background-image: url("/Image/Cloud.png");
  height:100vh;
  min-height: 2000px;
  width: 100vw;
  background-size: 50%;
  background-repeat: repeat round;
  z-index: -2;
}

#FloorWall {
  position: relative;
  z-index: -2;
  top: -2px;
  width: 100%;
  height: 800px;
  background-image: url("/Image/FloorWallClear.jpg");
  background-repeat: repeat;
}

#FloorWallProgress {
  position: absolute;
  background-image: url("/Image/FloorWallProgress.jpg");
  width: 890px;
  left: 50%;
  transform: translateX(-50%);
  height: 800px;
}

/*--------------------------------------*/
/*------Chars---------------------------*/
/*--------------------------------------*/

#ShuPaint {
  position: relative;
  background-image: url("/Image/AnimatedShu/shuPaint.png");
  top: 250px;
  left: 50%;
  width: 320px;
  height: 500px;
  background-size: 50%;
  background-repeat: no-repeat;
  transform: translateX(-57px);
}


@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'), url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

p {
  font-family: 'Pretendard Variable';
  font-size: 0.5em;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'NanumSquare', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/*---------------------------------------------------*/
/*---gsap-------------------------------*/
/*---------------------------------------------------*/

#StructureContainer {
  position: relative;
  width: 100vw;
  left: 20%;
  margin: 0;
  z-index: 12;
  height: 60vw;
}

#Structure_1 {
  position: absolute;
  opacity: 1;
  width: 100vw;
  height: 60vw;
  background-image: url("/Image/House_1.jpg");
  background-size:contain;
  background-position: top center;
  background-repeat: no-repeat;
}

#Structure_2 {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 60vw;
  opacity: 0;
  background-image: url("/Image/House_2.jpg");
  background-size:contain;
  background-position: top center;
  background-repeat: no-repeat;
}

#Structure_3 {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 60vw;
  opacity: 0;
  background-image: url("/Image/House_3.jpg");
  background-size:contain;
  background-position: top center;
  background-repeat: no-repeat;
}

#StructureTrigger_1 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 65vw;
}

#StructureTrigger_2 {
  position: absolute;
  top: 60vw;
  width: 100vw;
  height: 65vw;
}

#StructureTrigger_3 {
  position: absolute;
  top: 120vw;
  width: 100vw;
  height: 65vw;
}

#CorpDemo {
  position: absolute;
  width: 45%;
  height: 190vw;
  left: -10%;
  z-index: 12;
  top:0;
}

#CorpDemoContent {
  position: relative;
  top: 0;
  width: 100%;
  height: 63.3vw;
}

/*---------------------------------------------------*/
/*---neumorphism button----------------------------------------*/
/*----------------------------------------------------*/
div.circle {
  /* top: 30px; */
  position: relative;
  display: flex;
  width: 33vw;
  height: 33vw;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

div.circle:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 33vw;
  height: 33vw;
  content: " ";
  transition: 0.3s ease-out;
  border-radius: 50px;
  filter: blur(5px);
  box-shadow: 8px 8px 35px #9493a3, -8px -8px 35px #fff;
}

div.circle:hover:before {
  box-shadow: 5px 5px 15px #a9a8b7, 5px 5px 15px #fff,
    inset -3px -3px 10px #fff, inset 1px 1px 3px #c0c0c7;
  transition: 0.1s ease-in;
}

div.circle:active:before {
  box-shadow: 0px 0px 0px #a9a8b7, 0px 0px 0px #fff,
    inset -8px -8px 25px #fff, inset 8px 8px 25px #7c7b86;
  transition: 0.05s ease-in;
}

div.circle p {
  position: relative;
  z-index: 5;
  user-select: none;
}
/*---------------------------------------------------*/
/*---glass email form-------------------------------*/
/*---------------------------------------------------*/
.mail {
  position: absolute;
  top: 450px;
  left: 50%;
  width: 40%;
  height: 540px;
  min-width: 320px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  background: linear-gradient(300deg,
      rgba(69, 69, 80, 0.568),
      #cec9ee3d);
  box-shadow:
    inset 0.1em 0.1em 0.2em 0 rgba(217, 216, 235, 0.1),
    inset -0.1em -0.1em 0.2em 0 rgba(6, 14, 44, 0.2);
  border-radius: 30px;
  z-index: 1000;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(40px);
  }
}

.form {
  position: relative;
  width: 100%;
  height: 400px;
}

.form h2 {
  position: relative;
  color: rgb(233, 233, 233);
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 40px;

  text-align: center;
}

.form .inputBx {
  margin: 20px 40px 0px 40px;
}

.form .inputBx input {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  padding: 12px 20px 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-right: 1px solid rgb(1, 1, 1, 0.1);
  border-bottom: 1px solid rgb(1, 1, 1, 0.1);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
}

.form .inputBx textarea {
  width: 100%;
  min-height: 200px;
  height: 50%;
  padding-top: 20px;
  font-family: 'Pretendard Variable';
  resize: none;
  background: rgb(1, 1, 1, 0.1);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.15);
  border-right: 1px solid rgb(1, 1, 1, 0.1);
  border-bottom: 2px solid rgb(1, 1, 1, 0.1);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff !important;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
}

.form .inputBx input::placeholder {
  color: #fff;
}

.form .inputBx textarea::placeholder {
  padding-top: 3px;
  color: rgb(255, 255, 255);
}

.form .inputBx input[type="submit"] {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  max-width: 150px;
  margin-bottom: 20px;
  font-weight: 600;
  transition: .1s ease-in-out;
}

.form .inputBx input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

.text {
  margin-top: 5px;
  color: #fff;
}

.text a {
  margin-top: 5px;
  color: #fff;
}

/* 구획 */
#Section {
  position: relative;
  width: 100%;
  border: red solid 3px;
}

/*-------------------------------*/
/*-------------Clay-------------*/

.Clay {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1.5em;
  box-shadow: 1em 1em 1em rgba(58, 143, 255, 0.15), 
  inset -0.2em -0.3em 0.7em rgba(145, 193, 255, 0.55), 
  inset 0px 1em 1em rgb(255, 255, 255);
}

.BigTitleBox {
  font-family: 'Pretendard Variable';
  word-break: keep-all;
  position: relative;
  font-weight: 700;
  /* line-height: 0.3em; */
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 25vh;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 5vw;
  color: rgb(72, 72, 136);
  z-index: 1;
}

.TitleBox1 {
  position : relative;
  font-family: 'Pretendard Variable';
  font-weight: 700;
  text-align: center;
  margin-top: 50vh;
  padding: 1em;
  font-size: 2.2vw;
  width: 60%;
  max-width: 30vw;
  color: rgb(72, 72, 136);
}

.TitleBox2 {
  position: relative;
  font-family: 'Pretendard Variable';
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  padding: 1em;
  font-size: 2.4vw;
  width: 70%;
  max-width: 30vw;
  color: rgb(72, 72, 136);
}

.TitleBox3 {
  font-family: 'Pretendard Variable';
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  padding: 1em;
  font-size: 3vw;
  position: relative;
  width: 70%;
  max-width: 32vw;
  color: rgb(72, 72, 136);
}

.TitleBox4 {
  font-family: 'Pretendard Variable';
  font-weight: 700;
  text-align: center;
  top: 40%;
  padding: 1em;
  font-size: 3vw;
  position: relative;
  width: 50%;
  max-width: 30vw;
  color: rgb(72, 72, 136);
}

#Band {
  margin-top: 10vh;
  display: flex;
  transform: translateX(-100%);
  margin-bottom: 15vh;
  /* background-color: #ffdb01 */
}

#ShuPush {
  position: relative;
  float: left;
  margin-left: 2vw;
  height: 100%;
}

#GrowText{
  position: relative;
  float: left;
  height: 100%;
  vertical-align: middle;
  z-index: -1;
  color:#0066b5
}

#Cards {
  position: relative;
  height: 100vh;
  width: 100vw;
}