@media all and (max-width:470px) {
    * {
        left: 50000px;
    }
}

@media all and (min-width:471px) and (max-width:767px) {
    html {
        cursor: auto;
    }
    
    #sky-bg {
        height: 65vh;
    }

    #star-main-fg {
        transform-origin: 0% 0%;
        rotate: 60deg;
        top: 30vh;
        transform: translate(-50%, -50%);
        width: 230%;
        z-index: 1;
    }

    #logo-3d {
        width: 55%;
        top: 28vh;
        transform: translate(-50%, -50%);
    }

    #logo-deco {
        top: 30vh;
        left: 50%;
        width: 90% !important;
        min-height: 50px;
        transform: translate(-50%, -50%);
    }

    #star-spec-fg {
        position: absolute;
        background-size: 80%;
    }

    #sky-line {
        top: 50vh !important;
        width: 120%;
        transform: translateX(-10%);
        z-index: 1;
    }

    #flat-sky-bg {
        min-height: 1500px;
    }

    #flat-sky-cloud {
        min-height: 1500px;
        background-size: 100%;
    }
    
    .big-title-box {
        font-size: 35px;
        width: 60%;
    }

    #band {
        margin-top: 0;
        height: 60px;
        margin-bottom: 0;
    }

    #footer {
        font-size: 12px;
    }
}

@media all and (min-width: 768px) and (max-width:1320px){
    #star-main-fg {
        transform-origin: 0% 0%;
        rotate: 50deg;
        top: 30vh;
        transform: translate(-50%, -50%);
        width: 230%;
        z-index: 1;
    }

    #sky-bg {
        height: 90vh;
    }

    #flat-sky-bg {
        min-height: 1500px;
    }

    #flat-sky-cloud {
        min-height: 1500px;
        background-size: 50%;
    }

    #sky-line {
        top: 50vh;
        z-index: 1;
    }

    #logo-3d {
        width: 35%;
        top: 35vh;
    }

    #logo-deco{
        width: 70%;
        transform: translate(-53%, -50%);
        top: 35vh;
    } 

    .big-title-box {
        font-size: 41px;
        width: 60%;
    }

    #band {
        height: 80px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media all and (min-width: 1321px) and (max-width:1920px) {
    #sky-bg {
        min-height: 1500px;
    }
    
    #flat-sky-bg {
        padding-top: 120vh;
        min-height: 2000px;
    }

    #flat-sky-cloud {
        min-height: 2000px;
        background-size: 50%;
    }

    #logo-3d {
        width: 37%;
        top: 42vh;
    }

    #logo-deco {
        width: 80%;
        transform: translate(-53%, -50%);
    }

    .big-title-box {
        font-size: 65px;
        width: 60%;
    }

    #band {
        height: 100px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@media all and (min-width:1921px) {
    html {
        cursor: auto;
    }

    #sky-bg{
        height: 120vh;
        min-height: 2000px;
    }

    #logo-3d {
        transform: translate(-50%, -50%);
        top: 45vh;
        width: 35vw;
        width: 700px;
    }

    #logo-deco {
        top: 45vh;
        width: 70%;
        transform: translate(-53%, -50%);
        max-width: 2000px;
    }

    #sky-line {
        width: 100%;
        background-size: 100%;
    }

    #star-spec-fg {
        height: 100vh;
        background-size: 30%;
    }

    #star-main-fg {
        top: 50vh;
    }

    #flat-sky-bg {
        min-height: 3300px;
    }

    #flat-sky-cloud {
        min-height: 3100px;
        background-size: 25%;
    }

    .big-title-box {
        font-size: 4vw;
        width: 60%;
    }

    #band {
        height: 130px;
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@media screen and (min-height:1200px) and (max-height:1599px) {
    #sky-bg {
        height: 80vh;
    }

    #sky-line {
        top: 42vh;
    }

    #logo-3d {
        top: 42vh;
    }

    #logo-deco {
        width: 60%;
        top: 43vh;
    }

    #star-main-fg{
        top: 43vh;
    }


    #flat-sky-bg {
         
    }

    #flat-sky-cloud {
        background-size: 50%;
    }
}


@media screen and (min-height:1600px) {
    #star-main-fg{
        top: 28vh;
        width: 250vw;
    }

    #logo-3d {
        max-width: 1000px;
        top: 30vh;
        width: 50%;
    }

    #logo-deco {
        position: absolute;
        max-width: 1600px;
        top:35vh;
        width: 90%;
        transform: translate(-50%, -50%);
    }

    #sky-bg {
        height: 70vh;
    }

    #star-spec-fg {
        position: absolute;
        background-size: 40%;
    }

    #sky-line {
        top: 40vh;
        width: 120%;
        transform: translateX(-10%);
        z-index: 1;
    }

    #flat-sky-bg {
    }

    #flat-sky-cloud {
        background-size: 50%;
    }
}
